@media (max-width: 995px) {
    .carousel-indicators-1 {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0px;
    z-index: 2;
    display: flex;
    justify-content: center !important;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 1rem;
    margin-left: 15%;
}
}
@media (min-width:900px) {
    @media (min-width: 768px) {
  .carousel-inner-1 {
    display: flex !important;
  }
  .carousel-item-1 {
    margin-right: 0 !important;
    flex: 0 0 33.333333% !important;
    display: block !important;
  }
}
}
@media (max-width:1400px) {
    .po-date{
    right:0px;
    bottom: 41.5%;
}
    
}
@media (min-width:1400px) {
    .po-date{
    right:0px;
    bottom: 34.5%;
}
}
@media (max-width:1200px) {
    .po-date{
    right:0px;
    bottom: 46%;
}
@media (max-width:988px) {
    .po-date{
    right:0px;
    bottom: 43%;
}
}

}
@media (max-width:760px) {
    .po-date{
    right:0px;
    bottom: 165px;
}
}
@media (max-width:380px) {
    .po-date{
    right:0px;
    bottom: 188px;
}
}
@media (min-width:1400px) {
    .input-se {
    padding: 8px;
    padding-right:250px;
    border: 2px solid #0a4b24;
    margin-right: -5px;
    border-right: none;
    flex: 1;
    min-width: 200px;
}   
}
@media (max-width:525px) {
    .input-se {
    padding: 8px;
    border: 2px solid #0a4b24;
    margin-right: -5px;
    border-right: none;
    flex: 1;
    min-width: 200px;
}   
}
@media (max-width:413px) {

    .button-form {
    padding: 10px 20px;
    background-color: #0a4b24;
    align-items: center;
    color: white;
    border: none;
    cursor: pointer;
}
 .section-sub{
    text-align: center;
 }   
}
